{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{% static "styles/bootstrap.min.css" %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
  <title>django test site</title>
</head>
<body>
  <div class="container">
    {% block container %}
    {% endblock %}
  </div>

  <script src="{% static "scripts/jquery.min.js" %}"></script>
  <script src="{% static "scripts/bootstrap.min.js" %}"></script>
</body>
</html>