{% extends "base.html" %}
{% block container %}
  <div class="jumbotron" style="margin-top: 2rem">
    <h1 class="display-4">Hello, Django!</h1>
    <p class="lead">这是Django测试站点， 搭建搬瓦工上面</p>
    <hr class="my-4">
    <p>下面是带aff的搬瓦工链接，有心支持的话可以点击链接购买服务器。</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://bandwagonhost.com/aff.php?aff=30537" role="button">了解更多</a>
    </p>
  </div>
{% endblock %}